.contact-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.contact-who {
  flex-basis: 40%;
}

.contact-who p {
  margin-top: 40px;
}

.contact-who p a {
  text-decoration: none;
  color: white;
}

.contact-form {
  flex-basis: 55%;
}

.contact-form h2 {
  margin-bottom: 20px;
  margin-top: 40px;
  margin-left: 150px;
}

.contact-form p {
  text-align: justify;
  margin-left: 150px;
  color: #d3cfc9;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.contact-form form {
  max-width: 400px;
  margin: 0 auto;
  margin-left: 150px;
  padding: 30px;
}

.reach-out h2 {
  margin-bottom: 20px;
  margin-top: 40px;
  margin-left: 100px;
}

.reach-out p {
  text-align: justify;
  margin-left: 100px;
  color: #d3cfc9;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.vertical {
  position: absolute;
  top: 5;
  right: 50%;
  transform: translateX(50%);
  border-left: 1px solid white;
  height: 70%;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="address"],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #222;
  color: white;
}

button[type="submit"] {
  background-color: #222;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #444;
}

.social-links {
  margin-top: 40px;
  display: flex;
  margin-left: 100px;
  font-size: 30px;
}

.social-links a {
  margin: 0 10px;
}

.social-links a {
  display: block;
  margin-bottom: 10px;
  color: white;
  text-decoration: none;
}

footer {
  margin-top: 20px;
  text-align: center;
}
